<framework-data>
	<options>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.ioport" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.services.basic.gpio" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.pmic" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.nvm" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.dac" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.utils" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.tc" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.applications.xmega_a1_xplained_demo" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.boards" value="true"/>
	</options>
	<files>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/sleep/sleep.h" source="xmega/drivers/sleep/sleep.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/xmega_reset_cause.h" source="xmega/drivers/cpu/xmega_reset_cause.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/main.c" source="xmega/applications/xmega_a1_xplained_demo/main.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/xmega_ioport/xmega_gpio.h" source="common/services/gpio/xmega_ioport/xmega_gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/parts.h" source="xmega/utils/parts.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/nvm/nvm_asm.s" source="xmega/drivers/nvm/nvm_asm.s" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/status_codes.h" source="xmega/utils/status_codes.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/osc.h" source="common/services/clock/xmega/osc.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt.h" source="common/utils/interrupt.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/xplain/init.c" source="xmega/boards/xplain/init.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/compiler.h" source="xmega/utils/compiler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/sleepmgr/xmega/sleepmgr.h" source="common/services/sleepmgr/xmega/sleepmgr.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/sysclk.c" source="common/services/clock/xmega/sysclk.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/osc.h" source="common/services/clock/osc.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/sysclk.h" source="common/services/clock/xmega/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/sleepmgr/xmega/sleepmgr.c" source="common/services/sleepmgr/xmega/sleepmgr.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/bit_handling/clz_ctz.h" source="xmega/utils/bit_handling/clz_ctz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf.h" source="./xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/as5_8/asf.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/progmem.h" source="xmega/utils/progmem.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/nvm/nvm.c" source="xmega/drivers/nvm/nvm.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/ccp.h" source="xmega/drivers/cpu/ccp.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/xmega/pll.h" source="common/services/clock/xmega/pll.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/tpaste.h" source="xmega/utils/preprocessor/tpaste.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_board.h" source="xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/conf_board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/preprocessor.h" source="xmega/utils/preprocessor/preprocessor.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_clock.h" source="xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/conf_clock.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/gpio.h" source="common/services/gpio/gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/dac/dac.h" source="xmega/drivers/dac/dac.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/sysclk.h" source="common/services/clock/sysclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.c" source="xmega/drivers/ioport/ioport.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/dac/dac.c" source="xmega/drivers/dac/dac.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/pmic/pmic.h" source="xmega/drivers/pmic/pmic.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/get_far.h" source="xmega/applications/xmega_a1_xplained_demo/get_far.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.h" source="xmega/drivers/ioport/ioport.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler.h" source="xmega/utils/assembler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/sleepmgr/sleepmgr.h" source="common/services/sleepmgr/sleepmgr.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt/interrupt_avr8.h" source="common/utils/interrupt/interrupt_avr8.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler/gas.h" source="xmega/utils/assembler/gas.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_example.h" source="xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/conf_example.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/genclk.h" source="common/services/clock/genclk.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/snd_samples.h" source="xmega/applications/xmega_a1_xplained_demo/snd_samples.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/tc/tc.h" source="xmega/drivers/tc/tc.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/xplain/xplain.h" source="xmega/boards/xplain/xplain.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/snd_samples.c" source="xmega/applications/xmega_a1_xplained_demo/snd_samples.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/boards/board.h" source="common/boards/board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/mrepeat.h" source="xmega/utils/preprocessor/mrepeat.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/tc/tc.c" source="xmega/drivers/tc/tc.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/cpu/ccp.s" source="xmega/drivers/cpu/ccp.s" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_sleepmgr.h" source="xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/conf_sleepmgr.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/stringz.h" source="xmega/utils/preprocessor/stringz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/sound.c" source="xmega/applications/xmega_a1_xplained_demo/sound.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/clock/pll.h" source="common/services/clock/pll.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/nvm/nvm.h" source="xmega/drivers/nvm/nvm.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/sound.h" source="xmega/applications/xmega_a1_xplained_demo/sound.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/make/Makefile.avr.in" source="common/utils/make/Makefile.avr.in" changed="False"/>
	</files>
	<documentation help="http://asf.atmel.com/docs/2.5.1/xmega/applications/xmega_a1_xplained_demo/atxmega128a1_xplain/doxygen/html/"/>
</framework-data>
