body   {color: white; background-color: black; font-family: arial}

a:link {color: #ffdd00}
a:visited {color: #ffaa00}
a:active {color: #ffffbb}
a:hover {color: red}

a:link img {border: 1px solid #ffdd00}
a:visited img {border: 1px solid #ffaa00}
a:active img {border: 1px solid #ffffbb}
a:hover img {border: 1px solid red}

a:link img.neram {border: 1px solid black}
a:visited img.neram {border: 1px solid black}
a:active img.neram {border: 1px solid black}
a:hover img.neram {border: 1px solid red}

.n1 {font-size: 30px; font-family: times new roman; text-align: center; font-weight: bold}
.n2 {font-size: 17px; color: #ffffee; text-align: left; font-weight: bold}
.n3 {color: #ffffee; text-align: left; font-weight: bold; font-style: italic}
.n4 {color: #ffffee; font-family: times new roman; text-align: left; font-weight: bold}
.rights {font-size: 14px; font-family: times new roman; text-align: center; font-weight: bold}
.formula {font-size: 14px; font-family: times new roman; text-align: left; font-weight: bold; color: #eeee88}
.engwarning {color: #ff0000; font-size: 20px; font-family: times; text-align: center; font-weight: bold; margin-top: 14px}

.modra {background-color: #000060; color: white}
.zelena {background-color: #005000; color: white}
.seda {background-color: #ffffff; color: black}
.redtext {color: #ff0000}
.danger {color: #ff0000; font-size: 22px; font-family: times; text-align: center; font-weight: bold}