BODY {
	BACKGROUND-COLOR: #dddddd
}
H1 {
	TEXT-ALIGN: center
}
A.qindex {
	
}
A.qindexRef {
	
}
A.el {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.elRef {
	FONT-WEIGHT: bold
}
A.code {
	FONT-WEIGHT: normal; COLOR: #4444ee; TEXT-DECORATION: none
}
A.codeRef {
	FONT-WEIGHT: normal; COLOR: #4444ee
}
A:hover {
	BACKGROUND-COLOR: #bbbbbb; TEXT-DECORATION: none
}
DL.el {
	MARGIN-LEFT: -1cm
}
DIV.fragment {
	BORDER-RIGHT: black thin solid; BORDER-TOP: black thin solid; PADDING-LEFT: 5px; BORDER-LEFT: black thin solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: black thin solid; BACKGROUND-COLOR: #d0d0d0
}
DIV.ah {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; COLOR: #ffffff; BACKGROUND-COLOR: black
}
TD.md {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #ccccbb
}
TD.mdname1 {
	FONT-WEIGHT: bold; COLOR: #702020; BACKGROUND-COLOR: #ccccbb
}
TD.mdname {
	FONT-WEIGHT: bold; WIDTH: 600px; COLOR: #702020; BACKGROUND-COLOR: #ccccbb
}
DIV.groupHeader {
	MARGIN-TOP: 12px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 16px
}
DIV.groupText {
	FONT-SIZE: smaller; MARGIN-LEFT: 16px; FONT-STYLE: italic
}
FONT.keyword {
	COLOR: #008000
}
FONT.keywordtype {
	COLOR: #604020
}
FONT.keywordflow {
	COLOR: #e08000
}
FONT.comment {
	COLOR: #800000
}
FONT.preprocessor {
	COLOR: #806020
}
FONT.stringliteral {
	COLOR: #002080
}
FONT.charliteral {
	COLOR: #008080
}
