//! **************************************************************************
// Written by: Map J.40 on Wed Jan 09 07:31:03 2008
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
