BODY {
	BACKGROUND-IMAGE: url(..\images\bg.gif)
}
bodywht {
	BACKGROUND-COLOR: white
}
A.jmpbtn {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #0066ff
}
INPUT.jmpbtn {
	FONT-WEIGHT: bold; WIDTH: 25px; COLOR: white; BACKGROUND-COLOR: #0066ff
}
TD.pagetitle {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: arial, verdana, helvetica, default; BACKGROUND-COLOR: #0066ff; TEXT-ALIGN: center
}
TABLE of contents {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: arial, verdana, helvetica, default; BACKGROUND-COLOR: #0066ff; TEXT-ALIGN: left
}
same as above except NOT centered {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: arial, verdana, helvetica, default; BACKGROUND-COLOR: #0066ff; TEXT-ALIGN: left
}
left aligned-- TD.tablecontents {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: arial, verdana, helvetica, default; BACKGROUND-COLOR: #0066ff; TEXT-ALIGN: left
}
TD.pktconst {
	BACKGROUND-COLOR: plum; TEXT-ALIGN: center
}
TD.pkthdr {
	BACKGROUND-COLOR: lemonchiffon; TEXT-ALIGN: center
}
TD.pktvarlen {
	BACKGROUND-COLOR: lightgreen; TEXT-ALIGN: center
}
TD.pktunused {
	TEXT-ALIGN: center
}
TD.pktoptional {
	BACKGROUND-COLOR: lightgreen; TEXT-ALIGN: center
}
TD.linpkthdr {
	BACKGROUND-COLOR: lemonchiffon
}
TD.highlight {
	BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TH {
	BACKGROUND-COLOR: white
}
TABLE.datatbl TH {
	BACKGROUND-COLOR: oldlace
}
TABLE.datatbl TD {
	BACKGROUND-COLOR: white
}
TD.jmpbtn {
	FONT-WEIGHT: bold; WIDTH: 25px; BACKGROUND-COLOR: #0066ff; TEXT-ALIGN: center
}
