<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr32.sf.uc3c.drivers.gpio" value="true" />
    <option id="com.atmel.avr32.sf.uc3c.common.boards" value="true" />
    <option id="com.atmel.avr32.sf.uc3c.services.basic.delay" value="true" />
  </options>
  <files>
    <file path="src/asf/avr32/utils/preprocessor/stringz.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.S" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/startup/trampoline_uc3.S" changed="False" />
    <file path="src/main.c" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="common/applications/user_application/main.c" changed="False" />
    <file path="src/asf/avr32/boards/uc3c_ek/init.c" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/boards/uc3c_ek/init.c" changed="False" />
    <file path="src/asf/avr32/utils/parts.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/parts.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/tpaste.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/asf/avr32/utils/linker_scripts/at32uc3c/0512c/gcc/link_uc3c0512c.lds" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/utils/linker_scripts/at32uc3c/0512c/gcc/link_uc3c0512c.lds" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/preprocessor.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr32.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="common/utils/interrupt/interrupt_avr32.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/startup_uc3.S" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/startup/startup_uc3.S" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="./common/applications/user_application/at32uc3c0512c_uc3c_ek/as5_32_template/asf.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.c" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/drivers/gpio/gpio.c" changed="False" />
    <file path="src/asf/avr32/utils/compiler.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/compiler.h" changed="False" />
    <file path="src/asf/avr32/boards/uc3c_ek/led.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/boards/uc3c_ek/led.h" changed="False" />
    <file path="src/asf/avr32/drivers/gpio/gpio.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/drivers/gpio/gpio.h" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="common/boards/board.h" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.c" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/drivers/intc/intc.c" changed="False" />
    <file path="src/config/conf_board.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="common/applications/user_application/at32uc3c0512c_uc3c_ek/conf_board.h" changed="False" />
    <file path="src/asf/avr32/boards/uc3c_ek/uc3c_ek.h" framework="com.atmel.avr32.sf.uc3c" version="2.5.1-17860" source="avr32/boards/uc3c_ek/uc3c_ek.h" changed="False" />
    <file path="src/asf/avr32/utils/status_codes.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/status_codes.h" changed="False" />
    <file path="src/asf/avr32/utils/startup/trampoline_uc3.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/startup/trampoline_uc3.h" changed="False" />
    <file path="src/asf/avr32/drivers/intc/exception.S" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/drivers/intc/exception.S" changed="False" />
    <file path="src/asf/avr32/drivers/intc/intc.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/drivers/intc/intc.h" changed="False" />
    <file path="src/asf/avr32/utils/preprocessor/mrepeat.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/avr32/drivers/cpu/cycle_counter/cycle_counter.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/drivers/cpu/cycle_counter/cycle_counter.h" changed="False" />
    <file path="src/asf/avr32/services/delay/delay.c" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/services/delay/delay.c" changed="False" />
    <file path="src/asf/avr32/services/delay/delay.h" framework="com.atmel.avr32.sf.uc3c" version="2.2.2" source="avr32/services/delay/delay.h" changed="False" />
  </files>
  <documentation help="http://asf.atmel.com/docs/2.5.1/common/applications/user_application/at32uc3c0512c_uc3c_ek/doxygen/html/" />
</framework-data>