/*  foneFrame v1.0.1 Copyright 2011 Azalea Software, Inc. www.QRdvark.com  31aug11  */
/*		online CSS compression: http://www.refresh-sf.com/yui/	*/

body {
	background: #ccc;
	display: block;
	color: #000;
	font-family: Arial;
	line-height: 120%;
	background: url("foneFrame.jpg") repeat-x scroll 0 -125px transparent;
}
a {
	text-decoration: none;
}
.pTtl {
	display: block;
	margin-left: 15px;
	padding: 10px;
	color: #000;
	font-size: 110%;
	font-weight: bold;
}
#navBtn ul {
	text-indent: -25px;
	list-style-type: none;
}
#navBtn ul li {
	display: inline;
}
#navBtn ul a {
	text-decoration: none;
	padding: 0 10px;
	color: #003;
	font-weight: bold;
}
#navBtn ul a:hover {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.i {
	display: block;
	clear: both;
	padding: 15px;
	margin: 15px;
	position: relative;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
	-webkit-border-radius: 5px;
	background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	-moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
	-moz-border-radius: 5px;
}
.iTtl {
	color: #000;
	margin: 0 auto;
	position: relative;
	font-weight: bold;
}
.iDes {
	color: #333;
	margin: 0 10px 10px 10px;
	font-size: 90%;
}
.iLnk {
	color: #0088CC;
	margin-left: 15px;
	font-size: 85%;
	font-style: italic;
}
.ftr {
	line-height: 175%;
	font-size: 60%;
	text-align: center;
}
.smTxt {
	font-size: 80%;
	line-height: 150%;
}
.ctr {
	text-align: center;
}
.imgR {
	float: right;
	margin: 15px;
	clear: both;
	/*  create shadow behind images  */
	/*  -webkit-box-shadow: 0 0 15px #000; */
	/*  -moz-box-shadow: 0 0 15px #000; */
}
.imgL {
	float: left;
	margin:15px;
	clear: both;
	/*  create shadow behind images  */
	/*  -webkit-box-shadow: 0 0 15px #000; */
	/*  -moz-box-shadow: 0 0 15px #000; */
}